.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
	position: relative;
	
}
.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
	color: #2E1437;
}
.progressBarcontainer {
	width: 100%;
	height: 10px;
	background: #E1E1E1!important;
	overflow: hidden;
	border-radius: 0.3em;
}
.progressBarValue {
	height: 10px;
	float: left;
	border-radius: 0.3em;
	background: #e55d87; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	transition: width 1000ms ease-in-out;
}

.speech-bubble {
	font-size: 0.75em;
    line-height: 2em;
    position: absolute;
    background: #a487b2;
    top: -3em;
    right: 0;
    text-align: center;
    min-width: 3em;
    border-radius: 0.3em;
    color: white;
    opacity: 0;
	transition: opacity .5s ease-in-out;
}

.speech-bubble:after {
	border: 0.5em solid transparent;
	content: "";
	margin-left: -0.5em;
	position: absolute;
	bottom: -50%;
	left: 50%;
}